{% extends "general/base.html" %}
{% block title %}Password Reset Notification{% endblock %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Password Changed Notification.</h3>
    <div class="box">
        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <div>
            <p> Hello {{ user.first_name }},<br><br>
            Your password has been changed successfully.
            <br><br><br>
            Sincerely,<br>
            {{ config['SITE_NAME'] }} Team
            </p>    
        </div>
    </div>
</div>
{% endblock %}