{% extends "general/base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Forget Password</h3>
    <div class="box">
        <!-- Error -->
        {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} <a href ="{{ url_for('authenticate.signup') }}">Click to Sign-Up.</a>
        </div>
        {% endif %}
        {% endwith %}
        <!-- Succcess -->
        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('authenticate.forget_password_request') }}">
            <div class="field">
                <div class="control">
                        {{ forget_password_request_form.hidden_tag() }}
                        {{ forget_password_request_form.email.label() }} 
                        {{ forget_password_request_form.email(placeholder='Email') }}
                        {% if forget_password_request_form.email.errors %}
                        <ul class="notification is-danger">
                            {% for error in forget_password_request_form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>
            </div>
            {{ forget_password_request_form.submit }}
    </div>
</div>
{% endblock %}