{% extends "general/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <!-- Error -->
        {% with messages = get_flashed_messages(category_filter=['error']) %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} <a href ="{{ url_for('authenticate.signup') }}">Click to Sign-Up.</a>
        </div>
        {% endif %}
        {% endwith %}
        <!-- Warning -->
        {% with messages = get_flashed_messages(category_filter=['warning']) %}
        {% if messages %}
        <div class="notification is-warning">
            {{ messages[0] }} <a href ="{{ url_for('authenticate.signup') }}">Forget password.</a>
        </div>
        {% endif %}
        {% endwith %}
         <!-- Success -->
        {% with messages = get_flashed_messages(category_filter=['success']) %}
        {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('authenticate.login') }}">
            <div class="field">
                <div class="control">
                        {{ login_form.hidden_tag() }}
                        {{ login_form.email.label() }}
                        {{ login_form.email(placeholder='Email') }}
                        {% if login_form.email.errors %}
                        <ul class="notification is-danger">
                            {% for error in login_form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ login_form.password.label() }}
                        {{ login_form.password(placeholder='Password') }}
                        {% if login_form.password.errors %}
                        <ul class="notification is-danger">
                            {% for error in login_form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ login_form.remember.label() }}
                        {{ login_form.remember() }}
                </div>
            </div>
            {{ login_form.submit }}
            <div class="field">
                <div class="control">
                    <a href ="{{ url_for('authenticate.forget_password_request') }}">Forget password.</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}