{% extends "general/base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Reset Password</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }} Not a valid password.</a>
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="">
            <div class="field">
                <div class="control">
                    {{ reset_password_form.hidden_tag() }}
                    {{ reset_password_form.password.label() }}
                    {{ reset_password_form.password(placeholder='Password') }}
                    {% if reset_password_form.password.errors %}
                    <ul class="notification is-danger">
                        {% for error in reset_password_form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ reset_password_form.confirm_password.label() }}
                    {{ reset_password_form.confirm_password(placeholder='Confirm Password') }}
                    {% if reset_password_form.confirm_password.errors %}
                    <ul class="notification is-danger">
                        {% for error in reset_password_form.confirm_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            {{ reset_password_form.submit }}
        </form>
    </div>
</div>
{% endblock %}